{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

  <div class="page-section">
    <div class="container">
      <h1 class="text-center">Welcome To Contact Page</h1>
      {% if msg %}
        <b style="color:blue;">{{msg}}</b>
      {% endif %}
      <form method="post" action="{% url 'contact' %}">
        {% csrf_token %}
        <div class="row mb-3">
          <div class="col-sm-6 py-2 wow fadeInLeft">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter Name">
          </div>
          <div class="col-sm-6 py-2 wow fadeInRight">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" placeholder="Enter Email">
          </div>
          <div class="col-12 py-2 wow fadeInUp">
            <label for="mobile">Mobile</label>
            <input type="text" class="form-control" name="mobile" placeholder="Enter Mobile">
          </div>
          <div class="col-12 py-2 wow fadeInUp">
            <label for="remarks">Remarks</label>
            <textarea class="form-control" rows="5" name="remarks" placeholder="Enter Remarks"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Send Message</button>
      </form>
    </div>
  </div>

</body>
</html>
{% endblock %}